.title {
  margin-top: 3rem;
  line-height: 120%;
  font-size: 3rem;
  text-align: center;
}
.fancy {
  background-image: linear-gradient(
    320deg,
    rgba(57, 116, 182, 1) 1%,
    rgba(48, 172, 139, 1) 44%,
    rgba(3, 166, 88, 1) 79%
  );

  background-clip: text;
  color: transparent;
}
.link {
  margin-top: 4rem;
  background-color: var(--distinct-color);
  border-radius: var(--br);
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: white;
  transition: var(--transition-all);
}
.link:hover {
  background-color: var(--text-color);
}
